# Data structures

In computer science, a data structure is a data organization, management, and storage format that is usually chosen for efficient access to data.
More precisely, a data structure is a collection of data values, the relationships among them, and the functions or operations that can be applied to the data.

In this section, we'll cover some of the basic data structures included:

1. [List](#list)
   - [Create and obtain items](#create-and-obtain-items-from-a-list)
     - [Problem - call value by index](#problem---call-value-by-index)
     - [Problem - nested index calling](#problem---nested-index-calling)
   - [Slice for subset](#use-slice-to-obtain-a-subset-of-a-list)
     - [Problem - get a slice](#problem---get-a-slice)
   - [Add, change, and delete items](#add-change-and-delete-items)
     - [Problem - remove hated fruits](#problem---remove-hated-fruits)
   - [Sort and reverse a list](#sort-and-reverse-a-list)
     - [Problem - get those largest ones](#problem---get-those-largest-ones)
   - [Copy a list](#copy-a-list)
2. [Tuple](#tuple)
   - [The differences between tuple and list](#tuple)
   - [How to convert a list to tuple](#tuple)
3. [Dictionary](#dictionary)
   - [Create a dictionary with key:value pairs](#create-a-dictionary-with-keyvalue-pairs)
     - [Problem - build a genome](#problem---build-a-genome)
   - [Iterate through a dictionary](#iterate-through-a-dictionary)
     - [Problem - replenish the inventory](#problem---replenish-the-inventory)
4. [Set](#set)
   - [Add and remove item](#add-and-remove-item)
   - [Union, intersection and difference](#union-intersection-and-difference)
     - [Problem - non-overlapped](#problem---non-overlapped)

In [1]:
# Preload some libraries and variables that are required in the section.
import pickle

with open("random_integers.pkl", 'rb') as f:
    random_integers_original = pickle.load(f)

## List

Lists are probably the most commonly used data structure. It can be used to store multiple items in a single variable.

Items in list are ordered, changeable, and allow duplicate values.

### Create and obtain items from a list

Create a list with `[]`.

In [2]:
numerical_list = [3, 88, 2, 5, 110, 25, 5]

In [3]:
numerical_list

[3, 88, 2, 5, 110, 25, 5]

List items can be of any data type

In [4]:
fruit_list = ["apple", "banana", "coconut"]

In [5]:
fruit_list

['apple', 'banana', 'coconut']

In [6]:
mixed_list = ["apple", 88, "banana", True, [1, 2, 3]]

In [7]:
mixed_list

['apple', 88, 'banana', True, [1, 2, 3]]

List items are indexed, the first item has index [0], the second item has index [1] etc.

Let's try to return the **1st item** in numerical_list.

In [8]:
numerical_list[0]

3

You can use a *minus sign* with index to obtain a item from the end.

For example, we can obtain the last item by `[-1]`.

In [9]:
numerical_list[-1]

5

#### Problem - call value by index

What is the value of the **58th** item in `random_integers`?

In [10]:
# I use a `list.copy()` function to copy the list, we'll explain that later.
# Please test your codes on the list `random_integers`.
random_integers = random_integers_original.copy()
random_integers

[57,
 41,
 11,
 11,
 62,
 3,
 80,
 51,
 100,
 85,
 23,
 52,
 24,
 62,
 55,
 29,
 87,
 33,
 91,
 12,
 1,
 10,
 28,
 89,
 85,
 93,
 92,
 28,
 74,
 96,
 50,
 32,
 27,
 38,
 26,
 12,
 65,
 8,
 88,
 41,
 1,
 5,
 22,
 12,
 42,
 59,
 64,
 21,
 20,
 26,
 50,
 18,
 70,
 43,
 39,
 34,
 100,
 46,
 31,
 57,
 88,
 24,
 17,
 98,
 78,
 77,
 7,
 53,
 56,
 63,
 100,
 41,
 47,
 76,
 90,
 47,
 51,
 80,
 36,
 82,
 61,
 68,
 19,
 15,
 4,
 47,
 39,
 69,
 73,
 63,
 60,
 82,
 18,
 88,
 69,
 13,
 38,
 59,
 53,
 32]

In [11]:
# Please write and test your codes in this cell

Whenever you have a `list`-like object, you can always obtain the item from it through index.

You can use `type` to check the data type an object.

In [12]:
mixed_list = ["apple", 88, "banana", True, [1, 2, 3]]
mixed_list

['apple', 88, 'banana', True, [1, 2, 3]]

In [13]:
type(mixed_list)

list

In [14]:
# The fourth item is TRUE which is a Boolean
type(mixed_list[3])

bool

In [15]:
# It's not possible to obtain any item from Boolean object
mixed_list[3][0]

TypeError: 'bool' object is not subscriptable

In [16]:
# The last item of the mixed_list is also a list.
type(mixed_list[-1])

list

In [17]:
# Get the last item in the list inside the `mixed_list`.
mixed_list[-1][-1]

3

#### Problem - nested index calling

Are you able to retrieve the letter "l" in apple from the `mixed_list`?

In [18]:
mixed_list = ["apple", 88, "banana", True, [1, 2, 3]]
mixed_list

['apple', 88, 'banana', True, [1, 2, 3]]

In [19]:
# Please write and test your codes in this cell

### Use `slice` to obtain a subset of a list

In addition to obtain a single item with a single index, Python allow you to obtain a subset of items from a list.

In [20]:
numerical_list = [3, 88, 2, 5, 110, 25, 5]
numerical_list

[3, 88, 2, 5, 110, 25, 5]

In [21]:
# Get the 2nd to 4th items (the 5th item is not included although it has index [4])
numerical_list[1:4]

[88, 2, 5]

In [22]:
# Get the first 3 items
numerical_list[:3]

[3, 88, 2]

In [23]:
# Get the last 3 items
numerical_list[-3:]

[110, 25, 5]

#### Problem - get a slice

How to obtain the 3rd to last items from the `numerical_list`?

In [25]:
numerical_list

[3, 88, 2, 5, 110, 25, 5]

In [26]:
# Please write and test your codes in this cell

### Add, change and delete items

You can use `list_obj.append(item)` to add an item to a list.

In [27]:
fruit_list = ["apple", "banana", "coconut"]
fruit_list

['apple', 'banana', 'coconut']

In [28]:
fruit_list.append("grape")

In [29]:
fruit_list

['apple', 'banana', 'coconut', 'grape']

You can add anything to it, even add a totally different data type.

Remember, the `list` in Python can include any type of data.

In [30]:
fruit_list.append(123)

In [31]:
fruit_list

['apple', 'banana', 'coconut', 'grape', 123]

In [32]:
fruit_list.append([1, 2, 3])

In [33]:
fruit_list

['apple', 'banana', 'coconut', 'grape', 123, [1, 2, 3]]

You can insert an item to any location in a list through a given index. Use `list.insert(index, value)`.

In [34]:
fruit_list.insert(3, "dragon fruit")

In [35]:
fruit_list

['apple', 'banana', 'coconut', 'dragon fruit', 'grape', 123, [1, 2, 3]]

In one of the above cell, we add a list as an item by `list.append(list)`.
If you want to extend a list rather than adding it as an item, you can do `list.extend(list)`.

In [36]:
additional_fruits = ["watermelon", "dragon fruit", "pomegranate"]

In [37]:
fruit_list.extend(additional_fruits)

In [38]:
# Note that we now have 2 "dragon fruit" in our list. I'll show you how to delete them.
fruit_list

['apple',
 'banana',
 'coconut',
 'dragon fruit',
 'grape',
 123,
 [1, 2, 3],
 'watermelon',
 'dragon fruit',
 'pomegranate']

Items in list are changable. You can change the value of an item by its index.

Let's change the weird inner list located at index 6 into something else.

In [39]:
fruit_list[6]

[1, 2, 3]

In [40]:
fruit_list[6] = 456

In [41]:
fruit_list

['apple',
 'banana',
 'coconut',
 'dragon fruit',
 'grape',
 123,
 456,
 'watermelon',
 'dragon fruit',
 'pomegranate']

If you want to delete a item from list, you can use `del` with an *index* to achieve that.

In [42]:
# Delete the 6th item, which is the 456.
del fruit_list[6]

In [43]:
fruit_list

['apple',
 'banana',
 'coconut',
 'dragon fruit',
 'grape',
 123,
 'watermelon',
 'dragon fruit',
 'pomegranate']

There is another way to do it - use `list.pop()`.

You can assign an index and pop that item out of a list.
Without any given index, by default the last item of the list will be popped out.

The different between `del` and `pop` is `del` directly delete an item, while `pop` pop out the seleted item from the list and return it.

In [44]:
# Pop the 5th item, which is 123
fruit_list.pop(5)

123

In [45]:
fruit_list

['apple',
 'banana',
 'coconut',
 'dragon fruit',
 'grape',
 'watermelon',
 'dragon fruit',
 'pomegranate']

In [46]:
# Without a given index will pop out the last item, which is pomegranate.
fruit_list.pop()

'pomegranate'

In [47]:
fruit_list

['apple',
 'banana',
 'coconut',
 'dragon fruit',
 'grape',
 'watermelon',
 'dragon fruit']

If you already know the **value** of the item that you want to remove, you can also remove it directly by its value.

The example below shows how to remove **dragon fruit** by its value.

In [48]:
fruit_list.remove("dragon fruit")

In [49]:
fruit_list

['apple', 'banana', 'coconut', 'grape', 'watermelon', 'dragon fruit']

As you can see, the `remove()` function only remove the first occurrence of the given value. There is another "dragon fruit" at the last position.

#### Problem - remove hated fruits

I don't like **apple** and **dragon fruit**. Moreover, I like to add **orange**, **pomelo** and **pear** to the collection. Can you help to modify the list?

In [50]:
fruit_list = ["apple", "banana", "coconut", "grape", "watermelon", "dragon fruit"]
fruit_list

['apple', 'banana', 'coconut', 'grape', 'watermelon', 'dragon fruit']

In [51]:
# Please write and test your codes in this cell

Just a reminder that we can iterate through the list with for loop.

In [52]:
fruit_list = ["banana", "coconut", "grape", "watermelon", "orange", "pomelo", "pear"]
fruit_list

['banana', 'coconut', 'grape', 'watermelon', 'orange', 'pomelo', 'pear']

In [53]:
for fruit in fruit_list:
    print(fruit)

banana
coconut
grape
watermelon
orange
pomelo
pear

Use `for` loop and indeces to modify every items in the list.

In this case we use the `enumerate()` function introduced in the iterator_and_loop lecture to change the first character to uppercase.

In [54]:
for idx, fruit in enumerate(fruit_list):
    fruit_list[idx] = fruit.capitalize()
fruit_list

['Banana', 'Coconut', 'Grape', 'Watermelon', 'Orange', 'Pomelo', 'Pear']

### Sort and reverse a list

Sort a list by `sorted(list)`. The function will return a new list which have been sorted in ascending order.

If you want to keep it permenantly, you have to assign it to a new variable or overwrite the original one.

In [55]:
numerical_list = [3, 88, 2, 5, 110, 25, 5]
numerical_list

[3, 88, 2, 5, 110, 25, 5]

In [56]:
sorted(numerical_list)

[2, 3, 5, 5, 25, 88, 110]

In [57]:
# The original list remains the same
numerical_list

[3, 88, 2, 5, 110, 25, 5]

There is another way to do sorting. You can use `list.sort()` to directly sort the list in-place.

In [58]:
numerical_list.sort()

In [59]:
numerical_list

[2, 3, 5, 5, 25, 88, 110]

If you want to reverse the list, do it with list.reverse().

In [60]:
numerical_list.reverse()

In [61]:
numerical_list

[110, 88, 25, 5, 5, 3, 2]

In fact, the reverse feature is integrated in both `sorted()` and `list.sort()`.
You can use the reverse argument in both function to sort it in descending order.

In [62]:
numerical_list = [3, 88, 2, 5, 110, 25, 5]
numerical_list

[3, 88, 2, 5, 110, 25, 5]

In [63]:
sorted(numerical_list, reverse=True)

[110, 88, 25, 5, 5, 3, 2]

In [64]:
numerical_list.sort(reverse=True)

In [65]:
numerical_list

[110, 88, 25, 5, 5, 3, 2]

#### Problem - get those largest ones

Please retrieve the 10 of the most largest values from `random_integers`.

In [66]:
random_integers = random_integers_original.copy()
random_integers

[57,
 41,
 11,
 11,
 62,
 3,
 80,
 51,
 100,
 85,
 23,
 52,
 24,
 62,
 55,
 29,
 87,
 33,
 91,
 12,
 1,
 10,
 28,
 89,
 85,
 93,
 92,
 28,
 74,
 96,
 50,
 32,
 27,
 38,
 26,
 12,
 65,
 8,
 88,
 41,
 1,
 5,
 22,
 12,
 42,
 59,
 64,
 21,
 20,
 26,
 50,
 18,
 70,
 43,
 39,
 34,
 100,
 46,
 31,
 57,
 88,
 24,
 17,
 98,
 78,
 77,
 7,
 53,
 56,
 63,
 100,
 41,
 47,
 76,
 90,
 47,
 51,
 80,
 36,
 82,
 61,
 68,
 19,
 15,
 4,
 47,
 39,
 69,
 73,
 63,
 60,
 82,
 18,
 88,
 69,
 13,
 38,
 59,
 53,
 32]

In [67]:
# Please write and test your codes in this cell

### Copy a list
We'll demonstrate how to copy a list and why it is so important. Let's check out our fruit list.

In [68]:
fruit_list = ["apple", "banana", "coconut", "grape", "watermelon", "dragon fruit", "orange", "pomelo", "pear"]
fruit_list

['apple',
 'banana',
 'coconut',
 'grape',
 'watermelon',
 'dragon fruit',
 'orange',
 'pomelo',
 'pear']

Intuitively, you would probably think that I can do the following to copy the `fruit_list` to another `new_fruit_list`.

In [69]:
new_fruit_list = fruit_list

Let's try to remove "apple" from the `new_fruit_list` and see what happen.

In [70]:
new_fruit_list.remove("apple")

In [71]:
new_fruit_list

['banana',
 'coconut',
 'grape',
 'watermelon',
 'dragon fruit',
 'orange',
 'pomelo',
 'pear']

In [72]:
fruit_list

['banana',
 'coconut',
 'grape',
 'watermelon',
 'dragon fruit',
 'orange',
 'pomelo',
 'pear']

The item "apple" was gone from both lists. Why is this the case?

Remember that **Python is an object-oriented language.** Are these 2 lists different objects? Or are they actually pointing to the same thing?

In [74]:
print("fruit_list is:", id(fruit_list))
print("new_fruit_list is:", id(new_fruit_list))

if fruit_list is new_fruit_list:
    print("They point to the same object.")
else:
    print("They are different objects.")

fruit_list is: 140292624213696
new_fruit_list is: 140292624213696
They point to the same object.

As you can see, they are actually pointing to the same object.

Now let's try again and use `list.copy()` to copy the fruit_list to new_fruit_list.

In [75]:
fruit_list = ["apple", "banana", "coconut", "grape", "watermelon", "dragon fruit", "orange", "pomelo", "pear"]
fruit_list

['apple',
 'banana',
 'coconut',
 'grape',
 'watermelon',
 'dragon fruit',
 'orange',
 'pomelo',
 'pear']

In [76]:
new_fruit_list = fruit_list.copy()

In [79]:
print("fruit_list is:", id(fruit_list))
print("new_fruit_list is:", id(new_fruit_list))

if fruit_list is new_fruit_list:
    print("They point to the same object.")
else:
    print("They are different objects.")

fruit_list is: 140292627729472
new_fruit_list is: 140292624224832
They are different objects.

In [80]:
new_fruit_list.remove("apple")

In [81]:
new_fruit_list

['banana',
 'coconut',
 'grape',
 'watermelon',
 'dragon fruit',
 'orange',
 'pomelo',
 'pear']

In [82]:
# The "apple" remains
fruit_list

['apple',
 'banana',
 'coconut',
 'grape',
 'watermelon',
 'dragon fruit',
 'orange',
 'pomelo',
 'pear']

## Tuple

`Tuple` is quite similar to `list`. Both of them are array-like objects that can be used to store and access data.

To be more consise, `List` is a `dynamic array` that you can change, add or delete items from it quite easily.
On the other hand, `Tuple` is kind of a `fix-length array` and it cannot be changed after being created.

In [83]:
numerical_tuple = (3, 88, 2, 5, 110, 25, 5)

Tuple is **immutable**. You are not able to change/delete the items or add new items to it.

In [84]:
numerical_tuple[0] = 100

TypeError: 'tuple' object does not support item assignment

In [85]:
del numerical_tuple[-1]

TypeError: 'tuple' object doesn't support item deletion

In [86]:
numerical_tuple.append(100)

AttributeError: 'tuple' object has no attribute 'append'

However, you can concatenate 2 or more tuples to form a *new tuple*.

(Note that the new tuple is a different object from the original one. So it still obey the rule that *tuple is immutable*)

In [87]:
new_tuple = numerical_tuple + ("apple", "banana", "coconut")

In [88]:
numerical_tuple is new_tuple

False

Python does provide a special function `list()` to convert immutable `tuple` into mutable `list`, and another function `tuple()` do the opposite task.

In [89]:
list_from_tuple = list(numerical_tuple)

In [90]:
list_from_tuple

[3, 88, 2, 5, 110, 25, 5]

Now you can modify the items in it!

In [91]:
list_from_tuple.append(1)

In [92]:
list_from_tuple

[3, 88, 2, 5, 110, 25, 5, 1]

In [93]:
new_tuple = tuple(list_from_tuple)

In [94]:
new_tuple

(3, 88, 2, 5, 110, 25, 5, 1)

To be more consisely, the data stored in a `tuple` is **read-only**.

If you want to prevent your data from being accidentally overwritten, use `tuple`;
if you want to keep modifying your data, use `list`.

## Dictionary

Dictionary is ordered and changable. It stores values in key:value pairs and do not allow duplicates (on keys).

### Create a dictionary with key:value pairs

You can use curly bracket to create a dictionary. The structure is like:

{key1 : value, key2 : value, key3 : value}

where key have to be unique.

In [95]:
fruit_inventory = {"apple": 10, "banana": 5, "coconut": 3}
fruit_inventory

{'apple': 10, 'banana': 5, 'coconut': 3}

You can get the value of a particular key with `dict[key]`.

In [96]:
fruit_inventory["banana"]

5

Add new items to a dictionary.

In [97]:
fruit_inventory["orange"] = 8

In [98]:
fruit_inventory

{'apple': 10, 'banana': 5, 'coconut': 3, 'orange': 8}

What would happened if we add something that is already exist in the dictionary?

In [99]:
fruit_inventory

{'apple': 10, 'banana': 5, 'coconut': 3, 'orange': 8}

In [100]:
fruit_inventory["apple"] = 12

In [101]:
fruit_inventory

{'apple': 12, 'banana': 5, 'coconut': 3, 'orange': 8}

As you can see, the old value would be replaced by the num value.

#### Problem - build a genome

Say we're processing a genomic data.
Can you use a dictionary to record a genome with 4 chromosomes and each contains some genes, like the architecture shown below?

- genome
    - chr1
        - gene_1
        - gene_2
    - chr2
        - gene_3
    - chr3
        - gene_4
        - gene_5
    - chr4
        - gene_6
        - gene_7
        - gene_8

(hint: You may need to use the skills we learned from list)

In [102]:
# Please write and test your codes in this cell

### Iterate through a dictionary

Dictionary is also an iterable. There are 3 ways to iterate through a dictionary:
- Iterate through keys
- Iterate through values
- Iterate thoough key-value pairs

In [103]:
fruit_inventory = {"apple": 12, "banana": 5, "coconut": 3, "orange": 8}
fruit_inventory

{'apple': 12, 'banana': 5, 'coconut': 3, 'orange': 8}

Function `dict.keys()` returns the keys of this dictionary.

In [104]:
fruit_inventory.keys()

dict_keys(['apple', 'banana', 'coconut', 'orange'])

In [105]:
for key in fruit_inventory.keys():
    print(key)

apple
banana
coconut
orange

When you iterate through a dictionary object directly, it actually will go over it with its keys.

In [106]:
for key in fruit_inventory:
    print(key)

apple
banana
coconut
orange

If you want to iterate through the values, you can use `dict.values()` to get a array of all values and further use a `for` loop to do it.

In [107]:
fruit_inventory.values()

dict_values([12, 5, 3, 8])

In [108]:
for value in fruit_inventory.values():
    print(value)

12
5
3
8

If you want the key:value pairs, use `dict.items()` instead.

In [109]:
fruit_inventory.items()

dict_items([('apple', 12), ('banana', 5), ('coconut', 3), ('orange', 8)])

#### Problem - replenish the inventory

Say we want to keep our inventory to at least 10 for each fruit.
Can you use a for loop to go through the dictionary `fruit_inventory` and print the fruits and the quantity we need to buy for those which have less than 10 in stock?

In [110]:
fruit_inventory = {"apple": 12, "banana": 5, "coconut": 3, "orange": 8}
fruit_inventory

# You're expected to print:
# banana 5
# coconut 7
# orange 2

{'apple': 12, 'banana': 5, 'coconut': 3, 'orange': 8}

In [111]:
# Please write and test your codes in this cell

## Set

Set is unordered and unchangable.
However, you can add/remove items to/from it.

It also do not allow duplicates. Add an already existed item to a set won't change anything to it.

### Add and remove item

In [112]:
fruit_set = {"apple", "banana", "coconut"}
fruit_set

{'apple', 'banana', 'coconut'}

Let's add orange to our collection. You can do this by `set.add()`.

In [113]:
fruit_set.add("dragon fruit")
fruit_set

{'apple', 'banana', 'coconut', 'dragon fruit'}

If you add something that is already in the set, nothing would change.

In [114]:
fruit_set.add("apple")
fruit_set

{'apple', 'banana', 'coconut', 'dragon fruit'}

You can remove an item by `set.remove()` (Just like list. But list allow duplicate so it will only remove the first occurrence of the item)

In [115]:
fruit_set.remove("dragon fruit")
fruit_set

{'apple', 'banana', 'coconut'}

### Union, intersection and difference

Here we have 2 sets - Jason's and mine favorite fruit sets. We will demonstrate how to get the union, intersection and differences of the 2 sets.

In [116]:
my_set = {"apple", "banana", "coconut", "orange", "pear"}
Jason_set = {"orange", "banana", "watermelon", "strawberry", "pomegranate"}

Use `set1.union(set2)` to get the union of 2 sets.

In [117]:
my_set.union(Jason_set)

{'apple',
 'banana',
 'coconut',
 'orange',
 'pear',
 'pomegranate',
 'strawberry',
 'watermelon'}

Use `set1.intersection(set2)` to get the intersection.

In [118]:
my_set.intersection(Jason_set)

{'banana', 'orange'}

Use `-` to get the unique values in a particular set.

(Note that `set1 - set2` and `set2 - set1` will come up with different results)

In [119]:
my_set - Jason_set

{'apple', 'coconut', 'pear'}

In [120]:
Jason_set - my_set

{'pomegranate', 'strawberry', 'watermelon'}

#### Problem - non-overlapped

Are you able to get the fruit set that are **not overlapped** between Jason and me? (Like the red regions in the image below)

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Venn0110.svg/180px-Venn0110.svg.png" height=100>

In [ ]:
# Please write and test your codes in this cell